# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=b2management
DB_PASSWORD=b2management*.
DB_NAME=b2management
DB_SSLMODE=disable

# Server
SERVER_PORT=8080

# JWT
JWT_SECRET=yLTJ1NB20nSTuSvSs9af

AWS_ACCESS_KEY_ID=12345
AWS_SECRET_ACCESS_KEY=Kabcdefgh
AWS_ENDPOINT=https://s3.us-east-005.backblazeb2.com
AWS_REGION=us-east-5

# Analytics Configuration
ANALYTICS_INTERVAL=4h
ANALYTICS_WORKERS=4
